<div class="page-wrap">

  <!-- Nav -->

  <nav id="nav">
    <ul>
      <li><a href="../index.html" class="active alt scrolly big"><span class="icon fa-home"></span></a></li>
      <li><a href="#" class="alt scrolly big"><span class="icon fa-camera-retro"></span></a></li>
      <li><a href="#" class="alt scrolly big"><span class="icon fa-file-text-o"></span></a></li>
    </ul>
  </nav>

  <!-- Main -->
  <section id="main">

    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <h1>Hey, <span class="txt_red"> Red </span>Raiders</h1>
        <p>We are <span class="txt_orange">India </span> <span>Student </span> <span class="txt_green">Association</span></p>
        <ul class="actions">
          <li><a href="#galleries" class="button alt scrolly big">Continue</a></li>
        </ul>
      </div>
    </section>

    <!-- Gallery -->
    <section id="galleries">

      <!-- Photo Galleries -->
      <div class="gallery">
        <header class="special">
          <h2>Our Stories</h2>
        </header>
        <div class="content">
          <!-- <div class="media">
            <a href="../assets/images/fulls/isa_cul_fest_1.jpg"><img src="../assets/images/thumbs/isa_cul_fest_1.jpg"
                alt="" title="This right here is a caption." /></a>
          </div> -->
          <div class="media">
            <a href="assets/images/isa_rep_1.jpg"><img src="assets/images/isa_rep_1.jpg" alt=""
                title="Captured By: Chetan Karahalli Srinivasa" /></a>
          </div>
          <div class="media">
            <a href="assets/images/isa_rep_2.jpg"><img src="assets/images/isa_rep_2.jpg" alt=""
              title="Captured By: Chetan Karahalli Srinivasa" /></a>
          </div>
          <div class="media">
            <a href="assets/images/isa_rep_3.jpg"><img src="assets/images/isa_rep_3.jpg" alt=""
              title="Captured By: Chetan Karahalli Srinivasa" /></a>
          </div>
          <div class="media">
            <a href="assets/images/isa_rep_4.jpg"><img src="assets/images/isa_rep_4.jpg" alt=""
              title="Captured By: Chetan Karahalli Srinivasa" /></a>
          </div>
          <!-- <div class="media">
            <a href="../assets/images/fulls/10.jpg"><img src="../assets/images/thumbs/10.jpg" alt=""
                title="This right here is a caption." /></a>
          </div>
          <div class="media">
            <a href="../assets/images/fulls/03.jpg"><img src="../assets/images/thumbs/03.jpg" alt=""
                title="This right here is a caption." /></a>
          </div>
          <div class="media">
            <a href="../assets/images/fulls/07.jpg"><img src="../assets/images/thumbs/07.jpg" alt=""
                title="This right here is a caption." /></a>
          </div> -->
        </div>
        <footer>
          <!-- <a href="gallery.html" class="button big">Full Gallery</a> -->
        </footer>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <!-- Social -->
      <div class="social column">
        <h3>About Us</h3>
        <p>We the India Student Association is a hub to all the Indian students who have flown miles away from home to
          be a part of an elite campus at Texas Tech University. We as an organization, collaborate with every Indian
          student to make them feel at home. They all can look at us when they want to have some fun time, mini parties,
          technical talks, cultural fests and a lot more.</p>
        <p>We are a family of over 2000 Indians always striving hard to
          mirror the Indian culture for newbies to Lubbock in search of home outside India. We help them revisit our
          Indian culture and live the heritage, the rituals and the festivities that they had to leave behind in their
          pursuit of knowledge. The ISA is an amalgamation of all people and cultures present across the entire Indian
          sub-continent, from the barren deserts of Rajasthan to the rainy mountains of Mawsynram and from the chilly
          white peaks of the Himalayas in Kashmir to the confluence of three water bodies in Kanyakumari. The ISA
          celebrates the unity in diversity in India where a Hindu stands in line to devour the mouth-watering Haleem
          during the month of Ramadan, Christians celebrating Holi and Diwali in full festivities and people of all
          faiths flock to a Sikh Gurudwara to pay their respects. </p>
        <h3>Follow Me</h3>
        <ul class="icons">
          <li><a href="https://twitter.com/TexasTechISA" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.facebook.com/groups/ttuisa/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="https://www.instagram.com/texastechisa/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="https://www.youtube.com/channel/UC29z1zqUSalkbrmRt--y9Dw" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
        </ul>
      </div>

      <!-- Form -->
      <div class="column">
        <h3>Get in Touch</h3>
        <form action="#" method="post">
          <div class="field half first">
            <label for="name">Name</label>
            <input name="name" id="name" type="text" placeholder="Name">
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input name="email" id="email" type="email" placeholder="Email">
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
          </div>
          <ul class="actions">
            <li><input value="Send Message" class="button" type="submit" disabled></li>
          </ul>
        </form>
      </div>

    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="copyright">
        &copy; India Student Association
        <!-- <br>Author: <a href="#">Chetan Karahalli Srinivasa</a>. -->
      </div>
    </footer>
  </section>
</div>



<router-outlet></router-outlet>